*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgba(0, 0, 0, 1); 
     overflow: hidden;
} 
.text{
    color: #FAFDFF; 
    font-size: 2rem; 
    opacity: 0;
    animation: slideDown 0.4s linear forwards; 
    /* position: absolute;  */
    position: absolute;
} 
.container{
    position: relative;
    left: 659px;
    top: 350px;
    display: flex;
    
   
    
   
} 
.text1{
    animation-delay: 0s;
}
.text2{
    animation-delay: 0.4s;
}
.text3{
    animation-delay: 0.8s;
}
.text4{
    animation-delay: 1.2s;
} 
.text5{
    animation-delay: 1.6s;
}
.text6{
    animation-delay: 2s;
}
.text7{
    animation-delay: 2.4s;
}


@keyframes slideDown { 
    0% {
        opacity: 0;      
        transform: translateY(-30px); /* Start above the view */
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0); /* Move into position */
    }
    100% {
        opacity: 0;
        transform: translateY(-30px); /* Slide out upwards */
    }
}